body {
    background-color: black;
    color: royalblue;
    font-family: 'Courier New', Courier, monospace, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header {
    text-align: center;
}

#navar ul {
    padding: 0;
    list-style: none;
}

#navbar li {
    display: inline;
}

#navbar a {
    color: royalblue;
    /* border: 1px solid #555;
    border-radius: 3px; */
    text-decoration: none;
    padding-right: 15px;
}

#navbar a:focus {
    outline: 4px dotted #e73;
    outline-offset: 4px;
    background: #ffa;
}

.forms-container {
    padding: 10px;
    padding-left: 2.5em;
}

.forms-container .form-group {
    padding-bottom: 15px;
}

.forms-container .label {
    display: block;
}

.forms-container input[type="text"] {
    padding: 8px;
    width: 100%;
}

#list-form,
#website-form {
    display: none;
}

#main-footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}