body {
    background-color: black;
    color: rgb(65, 145, 225);
    font-family: 'Courier New', Courier, monospace, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header {
    text-align: center;
}

#navar ul {
    padding: 0;
    list-style: none;
}

#navbar li {
    display: inline;
}

#navbar a {
    color: rgb(65, 145, 225);
    text-decoration: none;
    padding-right: 15px;
}

#main {
    padding: 10px;
    padding-top: 20px;
    margin-top: 20px;
    border-top: double;
}

#main li {
    display: block;
}

#main button {
    border-radius: 5px;
    float: right;
}

#main button:hover {
    background-color: rgb(109, 167, 224);
}

#main a {
    color: white;
    text-decoration: none;
    font-size: x-small;
    font-weight: bold;
}

.forms-container {
    padding: 10px;
    padding-right: 2.5em;
    padding-left: 2.5em;
}

.forms-container .form-group {
    padding-bottom: 20px;
}

.forms-container label {
    display: block;
}

.forms-container input[type="text"] {
    padding: 8px;
    width: 100%;
}

#list-form,
#address-form {
    display: none;
}

#main-footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}


/* 
datalist {
    position: absolute;

background-color: #fff;
font-family: sans-serif;
font-size: 0.8rem;
max-height: 500px;
overflow-y: auto;

}
option {
    background-color: #fff;
    padding: 4px;
    margin-bottom: 1px;
    cursor: pointer;
} */